<div class="w3-display-container w3-center">
  <img src="../assets/titlepic.png" style="width:100%" />
  <h2>
    Welcome to MuniChor - Tadpoles Project!
  </h2>
</div>
<div style="text-align:center">

  <div>
    <button class="w3-button w3-blue" (click)="holdAudio()" [disabled]="loading">{{state}}</button>
    <br />
    <p>
      Original speed: {{tempo}}, now let's have a try!
    </p>
    <mat-slider thumbLabel tickInterval="1" min="40" max="200" [value]="tempo" thumbLabel tickInterval="1" #ref (change)="changeTempo(ref.value)" style="width:600px"></mat-slider>
    <!-- <p [hidden]="loading">{{tempo}}</p> -->
    <br />
  </div>
    <!-- <label id="settempo" value="tempo">{{tempo}}</label> -->
    <!-- <input type="range" id="settempo" min="40" max="200" value="tempo" #ref (change)="changeTempo(ref.value)" /> -->

</div>
