<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ChorServer</title>
  <base href="/">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</head>
<body ng-app = "myApp" ng-controller="fetchAudio">
  <div class="w3-display-container w3-center">
    <img src="../assets/titlepic.png" style="width:100%" />
    <h2>
      Welcome to MuniChor - Tadpoles Project!
    </h2>
  </div>
  <div style="text-align:center">

    <div>
      <button class="w3-button w3-blue" ng-click="playAudio()" ng-disabled="loading">{{state}}</button>
    </div>

  </div>
  <script>
    var app = angular.module('myApp', []);
    app.controller('fetchAudio', function($scope, $http) {
      $scope.state = 'Play';
      $scope.loading = true;
      delete $http.defaults.headers.common['X-Requested-With'];

      $http.get("api/audios",{responseType: "arraybuffer"})
      .then(function(res) {
        $scope.audioCtx = new AudioContext();
        return $scope.audioCtx.decodeAudioData(res.data);
      }).then(function(res) {
          $scope.bufferSource = $scope.audioCtx.createBufferSource();
          $scope.bufferSource.buffer = res;
        }).then(function() {
          $scope.loading = false;
          $scope.audioCtx.addEventListener('ended', function() {
            $scope.state = 'Play';
          });
        });

      $scope.playAudio = function() {
        switch($scope.state) {
          case 'Play':
            $scope.bufferSource.connect($scope.audioCtx.destination);
            $scope.bufferSource.start(0);
            $scope.state = 'Stop';
            break;

          case 'Stop':
            $scope.audioCtx.suspend();
            $scope.state = "Resume";
            break;

          case 'Resume':
            $scope.audioCtx.resume();
            $scope.state = "Stop";
            break;
        }
      };
    });





</script>
</body>

</html>
